{% extends '::base.html.twig' %}


{% block body %}
<h1>SHOW SHOW SHOW SHOW SHOW</h1>
    <table>
        <tr>
            <td align="center" valign="top"><img src="{{ asset('upload/' ~ entity.id ~'/' ~ entity.image)}}" alt="" width="751" height="337" /></td>
        </tr>
    </table>
{% endblock %}
