{% extends '::base.html.twig' %}

  {% block title %} Vista desde Main{% endblock %}

{% block body %}

    <div id="contenido">
        {% block contenido %}

        {% endblock %}
    </div>


{% endblock %}
